

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    
}
  
  /* =========================================
                   Section
  ============================================*/
  
  section {
      background: #fff;
      overflow: hidden;
  }
  
  
 
  .profile-img {
      height: 40px;
      width: 40px;
      border-radius: 90%;
  }
  

  .banner {
      width: 100%;
      height: 250px ;
  }
  .content-box-lg{
    padding: 12px 0;
}
 
  .content-img {
    position: absolute;
    top: 70%;
    left: 50%;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 20px;
    transform: translate(-50%, -50%);
  }





  .btn {
    margin: 10px;
    background-color: #6255a5;
    color: #fff;
    font-weight: 600;
    padding-left:20px;
    padding-right: 20px;
    width: auto;
}
  .heading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-top: 60px;
    margin-bottom: 30px;
}
.social-icon{
    background-color: #6255a5;
    color:#fff;
    width: 36px;
    height: 36px;
    text-align: center;
    padding-top: 13px;
    border-radius: 20px;
}  
#social{
  text-align: right; 
  top:-10px;
}

.panel-group .panel {
  border: 1px solid #1d1d1d;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #333333;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    background-color: #f3f3f3;
}



.more-less {
    float: right;
    color: #a6a6a6;
    width: 16px;
    height: 2px;

}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color:#333333;
   
}

